<p id="notice"><%= notice %></p>

<h1>News</h1>

<table>
  <thead>
    <tr>
      <th>S no</th>
      <th>Img</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <%= render @news %>
</table>

<br>

<%= link_to 'Add News', new_news_path %>
